body{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

main{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.navMenu{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0.8rem 0;
  background-color: aliceblue;
}

.NavDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
}

.Logo{
  font-size: 2rem;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.NavDiv ul{
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.NavDiv li{
  list-style: none;
  font-size: 1.2rem;
  transition: 0.5s;
}

.NavDiv a{
  color: #145556;
}

/* ----- PRACTICANDO CON EL HAS Y NOT -----*/

/* Cuando el NAV tiene un li en hover,
   todos los li que NO son el que está en hover se ven afectados */
.NavDiv:has(li:hover) li:not(:hover) {
  opacity: 0.4;
  filter: blur(0.3px);
  transform: scale(0.9);
}

/* El li en hover se destaca */
.NavDiv li:hover {
  transform: scale(1.2);
  text-decoration: overline;
}

/*El primer elemento es el contendor padre, dice que si en el contenedor padre hay un li en hover que es el segundo hijo directo entonces todos los li en hover van a recibir los cambios*/
.NavDiv:has(li:nth-child(2):hover) li:hover { 
  background-color: #145556;
}

/* Aqui el primer elemento es el contenedor padre, si este tiene un li que es el ultimo hijo en hover, todos los li crencen*/
.NavDiv:has(li:last-child:hover) li{
  font-size: 1.5rem;
}

.NavDiv li:hover a {
  color: #ff6b6b;
}

.Card{
  background-color: #0e0630;
  max-width: 30rem;
  border-radius: 30px;
}

.Card div{
  padding: 0 1rem;
}

.Card img{
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.Card ul{
  max-height: 300px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  gap: 1rem;
}

.Card ul::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
}

.cancion{
  justify-content: space-between;
  width: 100%;
  display: flex;
  border-radius: 20px;
}

.cancion button{
  background-color: green;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancion svg{
  color: aliceblue;
}

/*Si en la lista de canciones unos de los botones esta en hover, los demas se apagaran*/
.Card ul:has(button:hover) button:not(:hover){
  background-color: #145556;
  opacity: 0.5;
}

/*Si no hay ninguna card en hover, las cartas que no estan en hover se ponen grises*/
main:not(.Card:hover) .Card:not(:hover){
  filter: saturate(0%);
  transition: 0.5s;
}

/*Si hay una carta en hover, las demas cartas mantienen el gris*/
main:has(.Card:hover) .Card:not(:hover){
  filter: saturate(0%);
  transition: 0.5s;
}

/*Cuando una carta tiene hover, cambia a sus colores*/
.Card:hover{
  filter: saturate(100%);
  transition: 0.5s;
}

.perfil{
  display: flex;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  width: fit-content;
  align-items: start;
}

.me{
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin: 0 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  color: #0d1331;
}

.me div{
  padding: 0 2rem;
  text-align: justify;
}

.me img{
  width: 100%;
  height: 300px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.gustos{
  display: flex;
  flex-direction: column;
  flex: 4;
  margin: 0 1rem;
  width: 100%;
  background-color: aliceblue;
  border-radius: 30px;
  padding: 2rem;
  text-align: center;
}

.gustos h1{
  font-size: 2rem;
  color: #145556;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.jjk{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.Hechiceros{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.Hechiceros img{
  width: 550px;
  filter: saturate(0%);
  transition: filter 0.3s ease;
}

.Hechiceros img:hover{
  animation: laBatallaDecisiva 0.9s ease forwards;
}

@keyframes laBatallaDecisiva{
    0% {
      filter: saturate(100%);
    }
    10% {
      filter: saturate(200%);
    }
    20% {
      filter: saturate(250%);
    }
    30% {  
      filter: saturate(300%);
    }
    40% {
      filter: saturate(300%);
    }
    50% {
      filter: saturate(300%);
    }
    /* Se apaga gradualmente */
    80% {
      filter: saturate(150%);
    }
    100% {
      filter: saturate(100%);
    }
}

.card2{
  padding: 1rem;
  flex: 1;
  background-color: #646cff;
  text-align: center;
}

.Listado{
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Calculadora */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.order{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 30px;
  background-color: #0d1331;
  color: #ffffff;
  padding: 20px;
  margin: 2rem;
}

.order input{
  width: 80%;
  height: 2rem;  
}

.Botones button{
  width: 60%;
  height: 100%;
  background-color: brown;
  transition: 0.5s;
}

.Botones{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.Botones button:hover{
  transition: 0.5s;
  transform: scale(1.1);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

